@import "../styles/variables";

.card {
  border: 1px solid #ddd;
  border-radius: $border-radius;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  background: white;
  box-shadow: $shadow;
  transition: transform 0.2s;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 16px rgba(0,0,0,0.15);
  }

  h3 {
    margin-top: 0;
    color: $dark;
  }

  .price {
    font-size: 1.4rem;
    font-weight: bold;
    color: $primary;
  }

  .stock {
    font-weight: bold;
  }

  .stockHigh {
  color: green;
  font-weight: 600;
}

.stockLow {
  color: darkred;
  font-weight: 600;
}

  button {
    margin-right: 0.75rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &.edit {
      background: $primary;
      color: white;
    }

    &.delete {
      background: $danger;
      color: white;
    }
  }
}